{{>header}}
<main class="search">
    <h1>Producten</h1>
        <form action="/search" method="GET">
            <input type="search" name="search" placeholder="Zoek ..."/>
            <input type="submit" value="Zoek" />
        </form>
    <section>
        {{#each data}}
        <a href="details/{{this._id}}">
            <section>
                {{#if this.image_url}}
                <img src="{{this.image_url}}" alt="Afbeelding van het product" width="" loading="lazy">
                {{else}}
                <svg viewBox="0 0 508.03 508.33">
                    <g>
                        <path d="m25,508.33c-8.85-8.87-17.15-17.19-25-25.07C161.01,322.28,322.32,161,483.35,0c7.65,7.68,15.94,16,24.67,24.77-.61.67-1.74,2-2.97,3.23-9.63,9.66-19.18,19.4-28.98,28.88-2.76,2.67-3.7,5.43-3.7,9.18.08,122.24.02,244.49.12,366.73.01,16.63-6.61,29.15-21.8,35.98-5.52,2.48-12.21,3.31-18.37,3.32-110.45.19-220.9.14-331.35.14-11.98,0-23.96-.17-35.93.14-2.48.06-5.5,1.33-7.28,3.06-11.07,10.79-21.85,21.86-32.78,32.89Zm338.36-200.69c-9.5,9.6-18.12,18.37-26.81,27.07-17.38,17.4-38.94,17.41-56.35.04-12.36-12.33-24.7-24.69-37.06-37.02-1.24-1.23-2.55-2.39-3.83-3.58.31.58.62,1.17.93,1.75-46.92,46.86-93.84,93.72-139.92,139.74h335.9c0-16.83.14-33.27-.14-49.7-.05-2.62-1.33-5.87-3.16-7.72-19.71-20.03-39.67-39.82-59.51-59.73-3.28-3.29-6.32-6.81-10.05-10.84Zm72.62-208.52c-56.46,56.43-113.06,113-168.93,168.84,13.67,13.77,27.8,27.98,42.4,42.69,8.29-8.41,16.85-17.22,25.55-25.88,17.56-17.47,38.73-17.41,56.28.07,13.43,13.39,26.82,26.82,40.24,40.21,1.21,1.2,2.51,2.3,4.45,4.07V99.12Z"/>
                        <path d="m362.95,34.86v36.14H71.79v185.01c2.05-1.94,3.46-3.2,4.79-4.53,18.82-18.81,38.09-37.21,56.32-56.57,17.81-18.91,42.89-18.27,59.01-.09,6.59,7.44,14.1,14.06,20.73,20.6-8.67,8.91-16.96,17.42-25.64,26.33-7.91-8.07-15.91-16.23-24.12-24.6-1.55,1.37-2.69,2.28-3.71,3.31-28.24,28.21-56.51,56.39-84.61,84.75-1.74,1.75-2.94,4.84-2.98,7.33-.26,16.44-.13,32.89-.13,49.77h-36.45v-5.5c0-94.13-.01-188.27,0-282.4,0-24.34,15.19-39.53,39.53-39.54,94.31-.02,188.63,0,282.94,0h5.46Z"/>
                    </g>
                </svg>
                {{/if}}

                {{#if this.product_name}}
                <h2>{{this.product_name}}</h2>
                {{else}}
                <h2><i>Geen productnaam gevonden</i></h2>
                {{/if}}
            </section>
        </a>

            {{else}}
            <p>Foutje</p>
        {{/each}}
    </section>
</main>